/* обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height:1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
    background: #FAFAFA;
}
/* ------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ------------------------------------------------------- */
._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* ------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 768px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.menu {
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    
}
.menu__item {
    margin-right: 21px;
}
.menu__link {
    color: #737373;
    line-height: 171%;
    font-weight: 600;
}
@media (max-width: 489px) {
    .menu__link {
        font-size: 17px;
    }
}
/* ------------Page------------------------------------------- */
.page {
    flex: 1 1 auto;
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}
/* -------------Header-block------------------------------------------ */
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-weight: 700;
    font-size: 40px;
    margin: 45px 0 10px 0;
    line-height: calc(49 / 40 * 100%);
    color: #252B42;
}
.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    color:#737373;
    margin-bottom: 45px;
}
/* -------------Main-block------------------------------------------ */
.main-block {
    position: relative;
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}
.main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
}
.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}
@media (max-width: 489px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    color:#737373;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
}
@media (max-width: 489px) {
    .main-block__text {
        color: #4d4d4d;
        font-size: 16px;
        max-width: 300px;
    }
}
.main-block__buttons {
    display:flex;
    flex-wrap: wrap;
    
}
.main-block__button {
    display: flex;
    border-radius: 37px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    margin-right: 10px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: calc(28 / 14 * 100%);
    font-size: 14px;
}
.main-block__button_orange {
    background-color: #FF7B47;
    color:white;
}
@media (max-width: 489px) {
    .main-block__button {
        margin-bottom: 10px;
        flex: 1 1 auto;
    }
}
.main-block__button_border {
    color:#0D5C63;
    border: 1px solid #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1350px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.5;
    }
}
/* -------------Services------------------------------------------ */
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
}
.services__column {
    padding: 0px 15px;
    flex:0 1 33.333%;
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
        margin: 0 0 30px 0;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}
@media (max-width: 670px) {
    .services__column {
        flex: 100%;
        margin: 0 0 30px 0;
    }
}
.services__item {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: white;
    padding: 35px;
    height: 100%;
}
@media (max-width: 670px) {
    .services__item {
        padding: 20px;
    }
}
.item__services > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.item__services_green {
    background: #0D5C63;
    color: white;
}
.item__services__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
}
.item__services__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}
.item__services__text_white {
    color:white;
}
/* ------------Adventages------------------------------------------------------------- */
.page__adventages {
    padding: 80px 0;
}
@media (max-width: 992px) {
    .page__adventages {
        padding: 30px 0;
    }
}
@media (max-width: 560px) {
    .page__adventages {
        padding: 15px 0;
    }
}
.adventages__header {
    margin: 0 0 50px 0;
}
.adventages__body {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
@media (max-width: 560px) {
    .header-block__title {
        font-size: 30px;
    }
}
.adventages__column {
    padding: 0 15px;
    flex: 0 1 25%;
}
@media (max-width: 1080px) {
    .adventages__column {
        flex: 0 1 50%;
        padding-bottom: 20px;
    }
}
@media (max-width: 560px) {
    .adventages__column {
        flex: 0 1 100%;
    }
}
.adventages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background: #FFFFFF;
}
.adventages__item :not(:last-child) {
    margin-bottom: 10px;
}
.adventage__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.adventages__value {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    color: #252B42;
}
.adventages__text {
    font-size: 15px;
    color: #737373;
    font-weight: 700;
    line-height: calc(24 / 15 * 100%);
}
/* ----------------------------------------------------------------------------- */
.page__practice {
    padding: 125px 0 80px 0;
}
.practice__column {
    margin-bottom:  30px;
}
@media (max-width: 1080px) {
    .practice__body {
        display: flex;
        justify-content: center;
    }
}
.practice__header {
    margin: 0 0 45px 0;
}
.practice__body {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0 10px;
    flex: 0 1 25%;
}
.item-practice {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    color: inherit;
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 15px;
    transition: 0.2s;
}
.item-practice__title:hover {
    color: red;
}
.item-practice__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}
.item-practice__img img {
    width: 230px;
    height: 138px;
}
